.section {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section > img {
  translate: 0 -80%;
  transition: scale 0.2s ease-in-out;
}

.section.dragOver > span {
  filter: invert(50%) sepia(72%) saturate(3047%) hue-rotate(177deg)
    brightness(92%) contrast(111%);
  scale: 1.2;
}

.section > h3 {
  font-weight: lighter;
  font-size: 1.75rem;
}

.section > input {
  display: none;
}

.section > button {
  width: fit-content !important;
  font-size: 1rem;
}